@{
    ViewData["Title"] = "Home Page";
}

<div class="primary">
    <div class="main-photo">
        <div>
            <p class="text-50">Find the book you're looking for easier to read.</p>
        </div>
        <div class="main-photo">
            <img src="~/Assets/hand-main.png" />
        </div>
    </div>
</div>

<style>
    .primary{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-image: linear-gradient(#fcfcfe, #f8f5f0);
    }
    .column-view{
        display: flex;
        flex-direction: column;
    }
    .main-photo{
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .text-50{
        font-size: 50px;
        font-weight: 900;
    }
</style>