@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="row justify-content-center align-items-center">
                <div class="text-center pt-5">
                    <h1 id="main-text">Dive deep into the world of books!</h1>
                </div>
                <div class="text-center">
                    <img class="img-fluid" src="@Url.Content("~/Resources/hand-main.png")" />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
        #main-text {
        opacity: 0;
        font-size: 2vw;
        font-weight: 900;
        font-family: Arial, sans-serif;
        color: #000000;
        padding: 20px;
        animation: fadeIn 2s forwards;
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-50%) translateX(-50px);
        }

        to {
            opacity: 1;
            transform: translateY(-50%) translateX(0);
        }
    }

    @@media only screen and (max-width: 768px) {
        #main-text {
            font-size: 5vw;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }
    }
</style>
