<div class="container pt-4">
    <div class="border-bottom border-dark">
        <a asp-controller="HelpSite" asp-action="HelpSiteView" class="text-decoration-none text-dark">
            <p class="lead fw-bold col">
                <i class="bi bi-chevron-left"></i> Go back to Help Center
            </p>
        </a>
    </div>
    <div class="pt-5">
        <h2>Contact Us</h2>
        <p>You can reach us at:</p>
        <ul>
            <li>Email: info@bookweb.com</li>
            <li>Phone: +48-555-555-555</li>
            <li>Address: 123 Main St, Kielce Poland</li>
        </ul>
    </div>
</div>