@model IEnumerable<User>
@{
	ViewData["Title"] = "Index";
}

<div class="primary">
	<div class="left-site">
		<div>
			<p class="text30">Hey, hello 👋</p>
			<p class="text15">Enter the information you enetered while registering.</p>
		</div>
		<div>
			<form class="login-form">
				<p class="text15">Email</p>
				<input type="email" class="form-control">
				<p class="text15">Password</p>
				<input type="password" class="form-control">

				<div class="primary">
					<input type="checkbox" name="Remember me" value="false">
					<p class="checkbox-text">Forgot password?</p>
				</div>

				<button type="submit" class="btn btn-primary button">Login</button>
			</form>
		</div>
		<p class="text15">Don't have an account?</p>
		<a asp-controller="Login" asp-action="CreateUser">Sign up</a>
	</div>
	<div class="right-site" id="gradient">
		<div class="rightbox-text">
			<p style="color:darkmagenta">Build</p>
			<p>your library collection</p>
		</div>
	</div>
</div>

<style>
	.primary {
		display: flex;
		flex-direction: row;
		padding: 5%;
		justify-content: center;
	}

	.left-site {
		padding: 3rem 2rem 3rem 2rem;
		background-color: #f8f9fa;
	}

	.right-site {
		padding: 3rem 2rem 3rem;
		background: radial-gradient(#B58ECC, #5DE6DE);
		width: 50%;
		align-items: center;
		justify-content: center;
	}

	.login-form {
		margin-bottom: 1rem;
		text-align: left;
	}

	.button {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.rightbox-text {
		padding: 3rem 3rem 3rem 3rem;
		display: flex;
		flex-wrap: wrap;
		font-size: 40px;
		font-weight: 900;
		color: #83EAF1;
	}

	.text30 {
		font-size: 30px;
		text-align: left;
		font-weight: 900;
		margin-bottom: 1rem;
	}

	.text15 {
		font-size: 15px;
		text-align: left;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.checkbox-text {
		font-size: 15px;
		text-align: left;
		margin-top: 0.5rem;
		margin-left: 0.5rem;
		margin-bottom: 0.5rem;
	}

	@@media only screen and (max-width: 768px) {
		#gradient {
			display: none;
		}
	}
</style>