@model IEnumerable<User>
@{
	ViewData["Title"] = "RegisterIndex";
}
<div class="primary">
	<div class="left-site">
		<div>
			<p class="text30">Hey, hello 👋</p>
		</div>
		<div>
			<form class="login-form">
				<div class="content-in-row">
					<div style="margin-right:0.5rem">
						<p class="text15">First name</p>
						<input type="text" class="form-control">
					</div>
					<div style="margin-left:0.5rem">
						<p class="text15">Last name</p>
						<input type="text" class="form-control">
					</div>
				</div>
				<p class="text15">Email</p>
				<input type="email" class="form-control">
				<p class="text15">Password</p>
				<input type="password" class="form-control">
				<div style="">
					<button type="submit" class="btn btn-primary button">Register</button>
				</div>
			</form>
		</div>
		<div>
			<p class="text15">Already A Member?</p>
			@Html.ActionLink("Log in", "Index")
		</div>
	</div>
	<div class="right-site" id="gradient">
		<div class="rightbox-text">
			<p style="color:darkmagenta">Build</p>
			<p>your library collection</p>
		</div>
	</div>
</div>

<style>
	.primary {
		display: flex;
		flex-direction: row;
		padding: 5%;
		justify-content: center;
	}

	.left-site {
		padding: 3rem 2rem 3rem 2rem;
		background-color: #f8f9fa;
	}

	.right-site {
		padding: 3rem 2rem 3rem;
		background: radial-gradient(#B58ECC, #5DE6DE);
		width: 50%;
		align-items: center;
		justify-content: center;
	}

	.login-form {
		margin-bottom: 1rem;
		text-align: left;
	}

	.button {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 2rem;
	}

	.rightbox-text {
		padding: 3rem 3rem 3rem 3rem;
		display: flex;
		flex-wrap: wrap;
		font-size: 40px;
		font-weight: 900;
		color: #83EAF1;
	}

	.text30 {
		font-size: 30px;
		text-align: left;
		font-weight: 900;
		margin-bottom: 1rem;
	}

	.text15 {
		font-size: 15px;
		text-align: left;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.checkbox-text {
		font-size: 15px;
		text-align: left;
		margin-top: 0.5rem;
		margin-left: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.content-in-row{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.content-in-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@@media only screen and (max-width: 768px) {
		#gradient {
			display: none;
		}
	}
</style>